{% extends 'legales/base_legal.html' %}

{% block title %}Política de Cookies{% endblock %}
{% block header %}Política de Cookies{% endblock %}

{% block content %}
<p>Utilizamos cookies propias y de terceros para mejorar la navegación en nuestro sitio web.</p>

<h2 class="h5 mt-4">1. ¿Qué son las Cookies?</h2>
<p>Son pequeños archivos de texto que se almacenan en tu dispositivo para mantener la sesión activa de tu cuenta y recordar tus preferencias durante la navegación.</p>

<h2 class="h5 mt-4">2. Desactivación de Cookies</h2>
<p>Puedes configurar o deshabilitar las cookies desde las preferencias de tu navegador web en cualquier momento, aunque esto podría afectar algunas funcionalidades del sitio.</p>
{% endblock %}