{% extends 'legales/base_legal.html' %}

{% block title %}Política de Devoluciones{% endblock %}
{% block header %}Política de Devoluciones y Reembolsos{% endblock %}

{% block content %}
<p>Esta política regula las condiciones para la cancelación de citas o servicios abonados previamente.</p>

<h2 class="h5 mt-4">1. Cancelación y Reembolso de Citas</h2>
<p>Si el paciente realiza la cancelación de su cita con más de 24 horas de anticipación, tendrá derecho al reembolso total del abono o a la reprogramación sin costo adicional.</p>

<h2 class="h5 mt-4">2. Servicios No Reembolsables</h2>
<p>No se realizarán devoluciones sobre procedimientos o tratamientos odontológicos que ya hayan sido ejecutados o iniciados en el consultorio presencial.</p>
{% endblock %}